<table class="table">
  <thead class="table-dark">
    <tr>
      <th></th>
      <th>Product Name</th>
      <th>Unit Price</th>
      <th>Units in Stock</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tempProduct of products">
      <td class="align-middle">
        <img ngSrc="{{tempProduct.imageUrl}}" height="50" width="35" alt="image"/>
      </td>
      <td class="align-middle">{{tempProduct.name}}</td>
      <td class="align-middle">{{tempProduct.unitPrice | currency:'USD'}}</td>
      <td class="align-middle">{{tempProduct.unitsInStock}}</td>
    </tr>
  </tbody>
</table>
